<?xml version="1.0" encoding="utf-8"?>
<!-- Windows App Service (IIS): strip /sales-management/react, serve real files, fall back to index.html for SPA routes. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Prefixed static files" stopProcessing="true">
          <match url="^sales-management/react/(.+)$" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/{R:1}" />
        </rule>
        <rule name="Prefixed SPA routes" stopProcessing="true">
          <match url="^sales-management/react(/.*)?$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="Root redirect to mount" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/sales-management/react/" redirectType="Permanent" />
        </rule>
        <rule name="Redirect bare SPA routes to mount" stopProcessing="true">
          <match url="^(?!sales-management/react/).+" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="/sales-management/react/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
